html { font-size: 18px; }
body { color: var(--body-text-color); background-color: var(--background-color);}
.main-color { color: var(--main-color); }
.secondary-color { color: var(--secondary-color); }
.bg-main-color { background-color: var(--main-color); color: var(--logo-text-color); }
.global-font { font-family: 'Source Sans Pro',san-serif; }
.heading-font { font-family: 'Source Sans Pro',sans-serif; color: var(--heading-text-color); font-weight: 400; font-size: 1.1rem;}
.heading-color { color: var(--heading-text-color); }

main a, .post-content a, .list-pages a, .pagination a {
  border-bottom: 0px solid rgba(0,0,0,0.4);
  text-decoration: none;
  color: /*#AA3333;*/ inherit;
}

main a:hover, .list-pages a:hover, .post-content a:hover, .pagination a:hover, #tag-cloud a:hover { 
  border-bottom: 1px solid var(--body-text-color);
  color: /*var(--body-text-color);*/ #AA3333;
}

.content-width { max-width: 850px; }

h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0px;
  color: var(--body-text-color);
  font-weight: 600;
  font-size: 0.95em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

h4, h5, h6 {
  font-family: 'Source Sans Pro',sans-serif;
  letter-spacing: 0px;
  color: #666666; /*var(--body-text-color)*/
  font-weight: 400;
  font-size: 0.95em;
  font-style: italic;
  margin-top: 0.6em;
  margin-bottom: 0em;
}

h1 {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 2rem;
  letter-spacing: 0px;
  color: var(--body-text-color);
  font-weight: 700;
}

pre {
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  overflow: auto;
  line-height: 1.25em;
}

main {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.6em;
  margin-top: 0em;
}

.about-me-table {
  line-height: 1.45;
  margin-bottom: 0.8em;
  margin-top: 0em;
  font-size: 0.95em;
  padding-right: 0%;
}

.icon-links{
  text-align: left;
  margin-bottom: 0.25em;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
  font-size: 1rem;
}

.toc-list-item {
  font-size: 0.80rem;
  font-family: 'Source Sans Pro', sans-serif;
}

p code {
  padding: .25rem .5rem;
  font-size: 0.9em;
  background-color: #f8f8f8;
}

small {
  font-size: 0.85em;
}

#tag-cloud { max-width: 250px; }
#contents-list>.toc-list { 
  max-width: 200px; 
  overflow: hidden;
  position: fixed;
  left: 1rem;
  padding-right: 2rem;
}
@media (min-width: 1200px) {
  #contents-list>.toc-list, #tag-cloud  { 
    display: block; 
    top: 100px;
  }
  #tag-cloud {
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
  }
}
@media (min-width: 1330px) { #contents-list>.toc-list { max-width: 300px; right: 3rem;}}
#contents-list ol { list-style: none; }

figure {
  margin: 2em 1em;
}
img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 0px 0px #bbb;
}
figcaption { 
  text-align: center;
  margin-top: 0.5em;
}

blockquote {
  border-left-style: solid;
  border-left-width: 1px;
  border-color: var(--secondary-color);
  border-width: .25rem;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  padding-left: 1rem;
}

blockquote p {
  color: #666;
  margin-top: 0;
  line-height: 1.5;
  font-style: italic;
}

blockquote p>cite {
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: .1em;
  font-size: .875rem;
  display: block;
}

table {
  width: 100%;
  table-layout: fixed
  font-size: 1rem;
  font-family: 'Source Sans Pro',sans-serif;
  border-collapse:collapse;
  margin: 0rem auto;
  padding:0;
}

.object {
  width: 85%;
}
.year {
  width: 15%;
}

.table-20percent-object {width: 20%;}
.table-80percent-object {width: 80%;}

.table-about-me-photo {width: 28%;}
.table-about-me-text {width: 72%;}

table tr {
  border-top:0px solid #ccc;
  background-color:#fff;
  margin:0;
  padding:0;
}

table th {
  font-weight: 400;
}

table tr:nth-child(2n) {
  background-color:#fff;
}

/*
table tr th[align="center"], table tr td[align="center"] {
  text-align:center;
}
*/

table tr th, table tr td {
  border:0px solid #ccc;
  text-align:left;
  vertical-align:top;
  margin:0;
  padding:3px 8px;
  font-size: 1rem;
  line-height: 1.4;
}


main a:after, .post-content a:after{
    position: relative;
    content: "\FEFF\25CF"; /*alternatives: medium small white circle: ⚬, degree:° or \00B0,arrow:→, ᵒ, \25FC */
    margin-left: 0.10em;
    font-size: 100%;
    top: -0.10em;
    color: #AA3333;
    font-feature-settings: 'caps' 1; /* insures tallest degree is used */
}

.icon-links a:after{
    content: none;
}



hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  /*border-width: 1px;*/
  border: 0.5px solid #666666;
} 

.f4{font-size: 0.9em; margin-top: 0em; font-weight: normal;}
.f6{font-size: 1em;}
.ttl{text-transform: lowercase;}
.ttu{text-transform: uppercase;}