project:
  type: website
  output-dir: docs

website:
  title: "Arun Chavan"
  twitter-card: true
  google-analytics: "G-7P0LTBNP0P"
  navbar:
    pinned: false
    left: 
      - href: index.qmd
        text: Home
      - href: publications.qmd
        text: Publications
  search: 
    location: navbar
    type: textbox

format:
  html:
    theme: 
      - default
      - custom.scss
    css: styles.css
    toc: true



